body {
  font-family: 'Marcellus', sans-serif !important;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
  
main {
  flex: 1;
  display: flex; 
  justify-content: center; 
  flex-direction: column;
}
  
h1 {
  font-family: 'Marcellus', serif;
  color: #b7202e; /* Power Red */
  font-size: 2.75em;
  margin: 10px;
}
.container {
  border-radius: 6px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 35px auto;
  width: 600px;
  padding: 20px;
  text-align: center;
}
  
.container2 {
  border-radius: 6px; 
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin-left: 200px;
  width: auto;
  max-width: 1200px;
  padding: 20px;
  height: 75vh;
  text-align: center;
}

.steps-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  margin-top: 15px;
  height: 60vh;
}

@media (min-width: 768px) {
  .steps-grid {
    grid-template-columns: 1fr 1fr;
  }
}

.step {
  border-radius: 6px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.step-one {
  grid-column: 1 / 2;
}

.step-long {
  grid-column: 2 / 3;
  display: flex;
  flex-direction: column;
}
.step2 {
  flex-grow: 1;
}
header {
  margin: 0;
  padding: 0;
  border-bottom: #e7e8e9;
}
  
.logo {
  padding: 20px;
  margin: 0;
  background-color: #ffffff;
  max-width: 100%;
  height: auto;
}
  
h1 {
  font-family: 'Marcellus', serif;
  color: #b7202e; /* Power Red */
  /* margin-bottom: 45px; */
}
  
h2 {
  font-weight: normal;
  color: #58585b; 
  margin-bottom: 10px;
}

.file-upload-box {
  background-color: #f9f9f9;
  border: 2px dashed #d0d0d0;
  border-radius: 6px;
  padding: 20px;
  margin: 15px 0;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.2s ease, border-color 0.2s ease;
  min-height: 30vh;
}

.file-upload-box:hover {
  background-color: #f1f1f1;
  border-color: #b7202e;
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  margin-top: 10%;
  display: inline-block;
  padding: 10px 20px;
  background-color: #b7202e; /* Power Red */
  color: #ffffff;
  border-radius: 4px;
  transition: background-color 0.2s ease;
}

.custom-file-upload:hover {
  background-color: #ed1c24; /* Vitality Red */
}

input[type="submit"] {
  background-color: #b7202e; /* Power Red */
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  transition: background-color 0.2s ease;
  cursor: pointer;
  margin: 5px;
  border-radius: 4px;
  width: 40%;
  font-size: 16px;
}

input[type="submit"]:hover {
  background-color: #ed1c24; /* Vitality Red */
}

select {
  margin: 5px 0;
  padding: 5px;
  border: 1px solid #d0d0d0;
  border-radius: 4px;
  overflow-y: auto;
}

a {
  text-decoration: none;
  color: #000000; 
}

li {
  list-style-type: none;
}
  
footer {
  background-color: #f2f2f2;
  padding: 15px;
  text-align: center;
}

.sidebar {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 80px;
  height: 80%;
  background-color: #b7202e; 
  color: white;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
}

.sidebar-content {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 5px;
  height: 80%;
  background-color: #ed1c24; 
  color: white;
  padding: 20px;
  padding-left: 10px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
}



select {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #d0d0d0;
  border-radius: 6px;
  background-color: #ffffff;
  color: #333333;
  font-size: 16px;
  width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: border-color 0.2s ease, box-shadow 0.2s ease;
  outline: none;
  font-family: 'Marcellus', sans-serif;  /* Make sure the font matches the rest of the page */
  appearance: none; /* Removes default browser-specific styling to allow custom design */
}

select:focus {
  border-color: #b7202e;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

select:hover {
  border-color: #ed1c24;
  cursor: pointer;
}

/* Option Styling */
option {
  background-color: #ffffff; /* Background for options */
  color: #333333;
  font-family: 'Marcellus', sans-serif; /* Make sure the font matches */
  padding: 10px;
}

/* Change highlight color when an option is selected or hovered */
select option:checked {
  background-color: #b7202e; /* Power Red for selected option */
  color: #ffffff; /* White text to make it readable */
}

select option:hover {
  background-color: #ed1c24; /* Vitality Red for hover */
  color: #ffffff;
}


.generate-reports {
  text-align: center;
}

.reports-links {
  display: flex;
  justify-content: center;
  gap: 20px; /* Space between links */
  margin-top: 10px;
}

.report-link {
  /* Remove underline from links */
  color: #000000; /* Default link color */
  text-decoration: underline;
  transition: color 0.2s ease; /* Smooth transition effect */
  font-size: 19px;
}

.report-link:hover {
  color: #b7202e; /* Power Red color on hover */
  cursor: pointer; /* Pointer cursor on hover */
}
