<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Classroom Management</title>
  <link rel="shortcut icon" href="https://lms-kjsce.somaiya.edu/pluginfile.php/1/theme_essential/favicon/1702638405/Somaiya%20Logo.png">
  <meta content="Automatic seating generator for K.J. Somaiya College of Engineering" name="description" />
  <link rel="stylesheet" href="./../static/styles.css">
</head>

<body>
  <header>
    <img class="logo" src="https://kjsce.somaiya.edu/assets/kjsce/img/newlogo/KJSCE-Logo.svg" alt="logo" width="200px">
  </header>
  <div class="sidebar">
    <div class="sidebar-content">
      
    </div>
  </div>

  <main>
    <div class="container2">
      <h1>Supervisor Report Generator</h1>

      <div class="steps-grid">
        <div class="step step-one">
          <h2>Step 1: Upload Student Data</h2>
          <form method="POST" action="/upload" enctype="multipart/form-data" class="file-upload-form">
            <div class="file-upload-box">
              <label for="file" class="custom-file-upload">
                <span>Choose File</span>
                <input type="file" id="file" name="file" accept=".xlsx" required>
              </label>
              <p class="file-upload-instructions">Accepted formats: .xlsx</p>
            </div>
            <input type="submit" value="Upload">
          </form>
        </div>

        <div class="step step-long">
          <div class="step2">
            <h2>Step 2: Select Subjects</h2>
            <form method="POST" action="/select_subjects">
              <select name="subjects" id="subjects" multiple required>
                {% for subject in subjects %}
                  <option value="{{ subject.course_code }}">{{ subject.name }} ({{ subject.course_code }})</option>
                {% endfor %}
              </select>
              <br>
              <input type="submit" value="Save Selected Subjects">
            </form>
          </div>

          <div>
            <h2>Step 3: Generate Reports</h2>
            <ul>
              <li><a href="/seating_plan">Generate Seating Plan</a></li>
              <li><a href="/roll_call_list">Generate Roll Call List</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </main>

  <!-- <footer>&copy; KJSCE 2024</footer> -->
</body>
</html>
